body{
	padding: 54px 52px;
}

header {
	margin-bottom: 50px ;
}


.logo{
	vertical-align: middle;
	margin-right: 60px;
}



nav {
	display: inline-block;
}

li {
	display: inline-block;
	margin-right: 87px;
}

.a1{
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;

}
.a3  {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;
}



.bluebox {
	width: 50px;
	height: 50px;

	background: #5012D5;
	
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	padding: 11px;
	margin-bottom: 18px;

}
.myh3{
	margin-bottom: 9px;
	font-family: "BPG Nino Mkhedruli";
	font-style: italic;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	color: #8D81FF;


}




.mineh4{
     font-family: 'GL Tatishvili Metal';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #4E6FAE;
	margin-bottom: 13px;

}

.pic1{
	vertical-align: top;
	margin-bottom: 155px;
}

.para{
	display: inline-block;
	width: 778px;
	
	font-family: 'GL Kirovi';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #4E6FAE;
	margin-left: 66px;
    vertical-align: top;
}

.pic2 {
	margin-bottom: 155px;
}

.pic3{
	margin-bottom: 32px;
}

.para1{
    width: 1021px;
	height: 148px;

	font-family: 'GL Kirovi';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #4E6FAE;
	margin-bottom: 143px;

}


.footerimg {
	margin-right: 41px;
}
.footerimg1 {
	margin-right: 41px;
}














.b1{

	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;

}

.b3{

	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;

}

.head{
	margin-bottom: 97px;
}


.container {
	
	width: 1052px;
	margin: 0 auto;
}
.s-1{
	margin-bottom: 120px;
}


.newspic{
	margin-bottom: 120px;
}



.info-div{
	margin-bottom: 26px;
}



.mineh2{
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	margin-right: 18px;
	vertical-align: middle;
}

.stick{
	display: inline-block;
	margin-right: 18px;
	width: 2px;
    height: 20px;
    background-color: #5012D5;
    vertical-align: middle;

}

.mineh3{
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	vertical-align: middle;
}

.card-1{
	display: inline-block;
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	margin-right: 44px;
	padding: 20px;

}

.card-2{
	display: inline-block;
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	padding: 20px;

}

.hh4{
	width: 335px;
	height: 95px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
	vertical-align: top;

}

.hh5{
	
	width: 335px;
	height: 95px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
	vertical-align: top;


}













.c1{
   
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;

}

.c3{
   font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;

}
.li {
	vertical-align: middle;
}


.main{
	vertical-align: middle;
	margin-right: 60px;
}
























